.home
{
	width: 100%;
}

.home > img
{
	height: 300px;
	max-width: 100%;
	float: right;
	padding: 25px;
}

.home > p
{
	margin-top: 24px;
	font-size: 18px;
	line-height: 1.2em;
}

.home > h1
{
	font-size: 2em;
	font-weight: bold;
	color: #555555;
}

#station_table
{
	width: 100%;
	margin-top: 20px;
}

.home > #station_table > #station_one
{
	width: 210px;
	background: #FFF;
	padding: 20px;
	float: left;
	margin-right: 15px;
	text-align: center;
	border: 0.5px dotted #CCC;
}

.home > #station_table > #station_one > h1
{
	font-weight: bold;
	padding: 0 5px 5px 5px;
	color: #00546a;
}

.home > #station_table > #station_one > img
{
	width: 100%;
}
