@font-face {
    font-family: 'Earthbound';
        src: url('/static/fonts/earthbound/Earthbound-Condensed-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'Earthbound';
        src: url('/static/fonts/earthbound/Earthbound-Condensed-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'Earthbound';
        src: url('/static/fonts/earthbound/Earthbound-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }

/*
 *
 * Licence at "/static/fonts/earthbound/ubuntu-font-licence-1.0.txt"
 * 
 * Copyright at "/static/fonts/earthbound/copyright.txt"
 *  
 */
